body {
    margin: 0;
    padding: 0;
    background-image: url("cartographer.png")
}

.header {
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gainsboro;
    border-bottom: 2px solid gray;
}

.header h1 {
    /* padding: 10px; */
    font-family: 'Frijole', cursive;
    font-size: 80px;
}

.header p {
    font-family: 'Patua One', cursive;
}

#quakeMap {
    width: 960px;
    height: 500px;
    margin: 100px;
    border-radius: 10px;
    text-align: center !important;
    }

.legend {
    color: rgb(27, 27, 27);
    background-color: rgba(220, 220, 220, 0.664);
    padding: 5px;
    border-radius: 5px;
}

.legend h3 {
    margin: 0 !important;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}