body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gainsboro;
    border-bottom: 2px solid gray;
}

.header h1 {
    padding: 10px;
}

#quakeMap {
    width: 960px;
    height: 500px;
    margin: 100px;
    border-radius: 10px;
    
    }